<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contraction stats</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row m-1">
        <div class="col-12">
            {% if contraction %}
            <a class="btn btn-danger" href="end.php?id={{contraction.id}}">End contration</a>
            {% else %}
            <a class="btn btn-success" href="start.php">Start contraction</a>
            {% endif %}
            {% if contractions %}
            Total contractions: {{ contractions|length }} | Last hour avg - Duration: {{ lastHourDurationAvg }}, Interval: {{ lastHourIntervalAvg }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead><th scope="col">Started</th><th scope="col">Ended</th><th scope="col">Duration</th><th scope="col">Interval</th></thead>
                {% for contraction in contractions %}
                <tbody>
                    <td>{{ contraction.start }}</td>
                    <td>{{ contraction.end }}</td>
                    <td>{{ contraction.duration }}</td>
                    <td>{{ contraction.interval }}</td>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
                No constractions
            {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>